/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/typography/vertical_rhythm";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$base-font-size: 18px;
$base-line-height: 28px;
$rhythm-unit: "rem";
$round-to-nearest-half-line: true;

$heading-display: 72px;
$heading-priority-a: 51px;
$heading-priority-b: 36px;
$heading-priority-c: 25px;

@include establish-baseline;

html {
  font-family: "Open Sans", sans-serif;
}

body {
  @include trailer(4);
}

main {
  width: 840px;
  margin: 0 auto;
}

h1 {
  @include adjust-font-size-to($heading-priority-a);
  @include rhythm-margins;
  &.display {
    @include adjust-font-size-to($heading-display);
    @include rhythm-margins(2);
  }
}

h2 {
  @include adjust-font-size-to($heading-priority-b);
  @include rhythm-margins(.75);
}

h3 {
  @include adjust-font-size-to($heading-priority-c);
  @include rhythm-margins(.5);
}

p {
  @include rhythm-margins(.5);
  &.stand-first {
    @include adjust-font-size-to($heading-priority-c, 1.25);
    @include trailer(2);
    @include apply-side-rhythm-border(left, 3px, 1.25);
  }
}
