/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/typography/vertical_rhythm";

$base-font-size: 18px;
$base-line-height: 28px;
$rhythm-unit: "rem";
$round-to-nearest-half-line: true;

@include establish-baseline;

main {
  width: 840px;
  margin: 0 auto;
}
