/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  font-size: 112.5%;
  line-height: 1.55556em;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin-bottom: 112px;
  margin-bottom: 6.22222rem;
}

main {
  width: 840px;
  margin: 0 auto;
}

h1 {
  font-size: 51px;
  font-size: 2.83333rem;
  line-height: 56px;
  line-height: 3.11111rem;
  margin-top: 28px;
  margin-top: 1.55556rem;
  margin-bottom: 28px;
  margin-bottom: 1.55556rem;
}
h1.display {
  font-size: 72px;
  font-size: 4rem;
  line-height: 84px;
  line-height: 4.66667rem;
  margin-top: 56px;
  margin-top: 3.11111rem;
  margin-bottom: 56px;
  margin-bottom: 3.11111rem;
}

h2 {
  font-size: 36px;
  font-size: 2rem;
  line-height: 42px;
  line-height: 2.33333rem;
  margin-top: 21px;
  margin-top: 1.16667rem;
  margin-bottom: 21px;
  margin-bottom: 1.16667rem;
}

h3 {
  font-size: 25px;
  font-size: 1.38889rem;
  line-height: 42px;
  line-height: 2.33333rem;
  margin-top: 14px;
  margin-top: 0.77778rem;
  margin-bottom: 14px;
  margin-bottom: 0.77778rem;
}

p {
  margin-top: 14px;
  margin-top: 0.77778rem;
  margin-bottom: 14px;
  margin-bottom: 0.77778rem;
}
p.stand-first {
  font-size: 25px;
  font-size: 1.38889rem;
  line-height: 35px;
  line-height: 1.94444rem;
  margin-bottom: 56px;
  margin-bottom: 3.11111rem;
  border-left-width: 3px;
  border-left-width: 0.16667rem;
  border-left-style: solid;
  padding-left: 32px;
  padding-left: 1.77778rem;
}
